<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Atualizar instituição de pagamento"
  nzCentered
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
<ng-container *nzModalContent>
    <nz-spin [nzSpinning]="loading.status()" nzTip="Atualizando...">
      <form [formGroup]="updatePaymentInstituitionForm">
        <label>Nome:</label>
        <input  nz-input formControlName="name">
        <span class="red">{{ updatePaymentInstituitionForm.errors }}</span>
      </form>
    </nz-spin>
  </ng-container>
</nz-modal>
