<form [formGroup]="expenseForm" (ngSubmit)="submitForm()">
    <div class="formGroup">
        <div>
            <label>Despesa:</label>
            <input nz-input formControlName="name">
        </div>
        <div>
            <label>Data da Compra:</label>
            <nz-date-picker formControlName="purchaseDate" nzFormat="dd/MM/yyyy"></nz-date-picker>
        </div>
        <div>
            <label>Valor:</label>
            <input nz-input type="number" formControlName="amount">
        </div>
        <div>
            <label>Tipo de Despesa:</label>
            <nz-select formControlName="expenseType">
                <nz-option nzValue="0" nzLabel="Moradia"></nz-option>
                <nz-option nzValue="1" nzLabel="Saúde"></nz-option>
                <nz-option nzValue="2" nzLabel="Lazer"></nz-option>
                <nz-option nzValue="3" nzLabel="Investimento"></nz-option>
                <nz-option nzValue="4" nzLabel="Alimentação"></nz-option>
                <nz-option nzValue="5" nzLabel="EletroDomesticos"></nz-option>
                <nz-option nzValue="6" nzLabel="Eletrônicos"></nz-option>
                <nz-option nzValue="7" nzLabel="Educação"></nz-option>
            </nz-select>
        </div>
        <div>
            <label>Instituição de Pagamento:</label>
            <nz-select formControlName="paymentInstituitionId">
                <nz-option *ngFor="let paymentInstituition of paymentInstituitions" [nzValue]="paymentInstituition.id"
                    [nzLabel]="paymentInstituition.name"></nz-option>
            </nz-select>
        </div>
        <div>
            <label>Tipo de Pagamento:</label>
            <nz-select formControlName="paymentTypeId">
                <nz-option *ngFor="let paymentType of paymentTypes" [nzValue]="paymentType.id"
                    [nzLabel]="paymentType.name"></nz-option>
            </nz-select>
        </div>
        <div>
            <label>Data do Pagamento:</label>
            <nz-date-picker formControlName="paymentDate" nzFormat="dd/MM/yyyy"></nz-date-picker>
        </div>
        <div>
            <label>Data de Vencimento:</label>
            <nz-date-picker formControlName="dueDate" nzFormat="dd/MM/yyyy"></nz-date-picker>
        </div>
        <div>
            <label>Status Pagamento:</label>
            <nz-select formControlName="paymentStatus">
                <nz-option nzValue="0" nzLabel="Pago"></nz-option>
                <nz-option nzValue="1" nzLabel="Aguardando Pagamento"></nz-option>
                <nz-option nzValue="2" nzLabel="Cancelado"></nz-option>
            </nz-select>
        </div>
        <div>
            <button nz-button type="submit">Adicionar</button>
        </div>
    </div>
</form>