<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Adicionar novo comprovante de pagamento"
  nzCentered
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <nz-form nz-form [formGroup]="addReceiptForm" (ngSubmit)="handleOk()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired nzFor="name">Comprovante</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Preencha o nome do comprovante!">
            <input nz-input type="text" formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired nzFor="paymentDate">Data de pagamento</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Informe a data de pagamento!">
          <nz-date-picker formControlName="paymentDate" id="paymentDate" nzFormat="dd/MM/yyyy"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired nzFor="value">Comprovante:</nz-form-label>
        <nz-form-control [nzSpan]="24">
            <label for="value">
                <div class="upload-button">                    
                    {{ fileName }}
                </div>
            </label>
            <input class="input-file" type="file" id="value" accept="image/png, image/jpeg, application/pdf" (change)="handleFileInput($event)">
        </nz-form-control>
      </nz-form-item>    
      <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <button nz-button nzType="primary" (click)="handleOk()">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </nz-form>
  </ng-container>
</nz-modal>
<ng-template #modalFooter>
</ng-template>
