<nz-table #expense [nzData]="expenses$ | async">
  <thead>
    <tr>
      <th id="1">Despesas</th>
      <th id="2">Data da Compra</th>
      <th id="3" nzAlign="left">Valor</th>
      <th id="4" nzAlign="left">Tipo de Despesa</th>
      <th id="5" nzAlign="left">Instituição de Pagamento</th>
      <th id="6" nzAlign="left">Método de Pagamento</th>
      <th id="7" nzAlign="left">Status de Pagamento</th>
      <th id="8" nzAlign="left">Data de Pagamento</th>
      <th id="9" nzAlign="left">Data de Vencimento</th>
      <th id="10" nzAlign="right">
        <button nz-button (click)="addExpense.handleModalOpenStatus()" nzType="primary"><em nz-icon
            nzType="plus"></em></button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expense.data">
      <td><em nz-icon nzType="barcode"></em> {{ expense.name }}</td>
      <td>{{ expense.purchaseDate | date: 'dd/MM/yyyy' }}</td>
      <td nzAlign="left">{{ expense.amount | currency : 'BRL' }}</td>
      <td nzAlign="left">{{ expenseTypeEnum[expense.expenseType] }}</td>
      <td nzAlign="left">{{ expense.paymentInstituition?.name == null ? 'Aguardando pagamento...': expense.paymentInstituition.name }}</td>
      <td nzAlign="left">{{ expense.paymentType?.name == null ? 'Aguardando pagamento...': expense.paymentType.name }}</td>
      <td nzAlign="left">
        {{ paymentStatusEnum[expense.paymentStatus] }}
        <nz-divider nzType="vertical"></nz-divider>
        <a><em nz-icon nzType="edit"></em></a>
      </td>
      <td nzAlign="left">{{ expense.paymentDate | date: 'dd/MM/yyyy' }}</td>
      <td nzAlign="left">{{ expense.dueDate | date: 'dd/MM/yyyy' }}</td>
      <td nzAlign="right">
        <a (click)="deleteExpense(expense)"><em class="red" nz-icon nzType="delete"></em></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a><em nz-icon nzType="edit"></em></a>
      </td>
    </tr>
  </tbody>
</nz-table>
<app-add-expense #addExpense (response)="getExpenses()"></app-add-expense>
<app-modal [content]="content" #modal></app-modal>