<nz-table #expense [nzData]="expenses">
  <thead>
    <tr>
      <th id="1">Despesas</th>
      <th id="2">Data da Compra</th>
      <th id="3" nzAlign="left">Valor</th>
      <th id="4" nzAlign="left">Tipo de despesa</th>
      <th id="4" nzAlign="left">Instituição de Pagamento</th>
      <th id="4" nzAlign="left">Método de pagamento</th>
      <th id="4" nzAlign="left">Status de pagamento</th>
      <th id="5" nzAlign="right">
        <button nz-button (click)="addExpense.handleModalOpenStatus()" nzType="primary"><em nz-icon
            nzType="plus"></em></button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expense.data">
      <td><em nz-icon nzType="barcode"></em> {{ expense.name }}</td>
      <td>{{ expense.purchaseDate | date: 'dd-MM-yyyy' }}</td>
      <td nzAlign="left">{{ expense.amount | currency : 'BRL' }}</td>
      <td nzAlign="left">{{ expense.expenseType }}</td>
      <td nzAlign="left">{{ expense.paymentInstituition.name }}</td>
      <td nzAlign="left">{{ expense.paymentType.name }}</td>
      <td nzAlign="left">{{ expense.paymentStatus.toString()}}</td>
      <td nzAlign="right">
        <a (click)="deleteExpense(expense)"><em class="red" nz-icon nzType="delete"></em></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a><em nz-icon nzType="edit"></em></a>
      </td>
    </tr>
  </tbody>
</nz-table>
<app-add-expense #addExpense></app-add-expense>
<app-modal [content]="content" #modal></app-modal>