<nz-table #expense [nzData]="expenses">
    <thead>
      <tr>
        <th id="1">Despesas</th>
        <th id="2">Data da Compra</th>
        <th id="3" nzAlign="right">Parcelas</th>
        <th id="4" nzAlign="right">Status Pagamento</th>
        <th id="5" nzAlign="right">
          <button nz-button (click)="addExpense.handleModalOpenStatus()" nzType="primary"><em nz-icon nzType="plus"></em></button>
        </th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let expense of expense.data">
          <td><em nz-icon nzType="barcode"></em> {{ expense.name }}</td>
          <td>{{ expense.purchaseDate | date: 'dd-MM-yyyy' }}</td>
          <td nzAlign="right">{{ expense.installments.length }} <em (click)="modal.openModal()" nz-icon nzType="eye"></em></td>
          <td nzAlign="right">{{ expense.expensePaymentStatus }} <em nz-icon nzType="eye"></em></td>
          <td nzAlign="right">
            <a><em class="red" nz-icon nzType="delete"></em></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a><em nz-icon nzType="edit"></em></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <app-add-expense #addExpense></app-add-expense>
    <app-modal [content]="content" #modal></app-modal>
